/*variables color*/

$greydark: #6b717f;
$eggw: #fff;
$greylight: #8c8c8c;
$pink: #bf4080;
$green: green;
$red: red;
$orange: orange;
$black: #000;

/*variable taille*/

$sixteen: 16px;

/*mixins*/

@mixin shadowBox($color) {
  -webkit-box-shadow: 10px 10px 15px -4px $color;
  -moz-box-shadow: 10px 10px 15px -4px $color;
  box-shadow: 10px 10px 15px -4px $color;
}

$base-color: #036;
$text-color: rgb(243, 14, 14);

@for $i from 0 through 7 {
  li:nth-child(#{$i}) {
    background-color: lighten($base-color, $i * 10%);
    color: darken($text-color, $i * 10%);
  }
}
